MvcShoesStore/Service References/ShoesStoreServiceReference/ShoesStoreBasicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShoesStoreBasicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57074/ShoesStoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57074/ShoesStoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57074/ShoesStoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfShoesStore" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllListStores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListStores" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllListStores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListStoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllListArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListArticles" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllListArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllListArticlesByStoreId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListArticlesByStoreId" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllListArticlesByStoreId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListArticlesByStoreIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateStore_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStore" />
  </wsdl:message>
  <wsdl:message name="IService_CreateStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticle" />
  </wsdl:message>
  <wsdl:message name="IService_CreateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStore_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStore" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticle" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteStore_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStore" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticle" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllListStores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllListStores" message="tns:IService_GetAllListStores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllListStoresResponse" message="tns:IService_GetAllListStores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllListArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllListArticles" message="tns:IService_GetAllListArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllListArticlesResponse" message="tns:IService_GetAllListArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllListArticlesByStoreId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllListArticlesByStoreId" message="tns:IService_GetAllListArticlesByStoreId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllListArticlesByStoreIdResponse" message="tns:IService_GetAllListArticlesByStoreId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateStore" message="tns:IService_CreateStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateStoreResponse" message="tns:IService_CreateStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateArticle" message="tns:IService_CreateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateArticleResponse" message="tns:IService_CreateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateStore" message="tns:IService_UpdateStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateStoreResponse" message="tns:IService_UpdateStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateArticle" message="tns:IService_UpdateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateArticleResponse" message="tns:IService_UpdateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteStore" message="tns:IService_DeleteStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteStoreResponse" message="tns:IService_DeleteStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteArticle" message="tns:IService_DeleteArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteArticleResponse" message="tns:IService_DeleteArticle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllListStores">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllListStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllListArticles">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllListArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllListArticlesByStoreId">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllListArticlesByStoreId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStore">
      <soap:operation soapAction="http://tempuri.org/IService/CreateStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateArticle">
      <soap:operation soapAction="http://tempuri.org/IService/CreateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStore">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStore">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoesStoreBasicService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:57074/ShoesStoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>